.main-container {
    width: 100%;
    background-color: #24253C;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Raleway';
}

.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 66px;
}

.top-left-side {
    margin-top: 40px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
}

.div, .div-4 {
    width: 30vw;
    height: 1px;
    background-color: var(--text-color);
    margin-top: 50px;
}

.div-4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.phone-number {
    color: var(--text-color);
    font-family: 'Raleway';
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phone, .house, .letter, .git, .linked {
    color: var(--text-color);
    font-size: 30px;
    margin-right: 10px;
}

.address {
    color: var(--text-color);
    font-family: 'Raleway';
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.email {
    color: var(--text-color);
    font-family: 'Raleway';
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.icon-area {
    width: 370px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.git {
    font-size: 40px;
    cursor: pointer;
}


.linked{
        font-size: 40px;
        cursor: pointer;
        margin-left: 25px;
}

.education-area {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align:left;
    
}

.edu-heading, .about-heading, .job-heading {
    color: var(--text-color);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.7;

}

.webbdev, .economy {
    font-family: 'Raleway';
    font-size: 23px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 5px;  
}

.economy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 28px;
}

.handels {
    margin-left: 0px;
}

.webdev-date, .economy-date {
    color: var(--text-color);
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0px;
}

.edu-text, .economy-text, .job-text {
width: 550px;
letter-spacing: 2px;
word-spacing: 6px;
color: var(--text-color);
font-family: 'Raleway';
font-size: 22px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
text-align: left;
line-height: 30px;
}

.economy-text-2 {
width: 550px;
letter-spacing: 2px;
word-spacing: 6px;
color: var(--text-color);
font-family: 'Raleway';
font-size: 22px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
text-align: left;
line-height: 30px;
margin-top: 0px;
}

.middle-left-side, .lower-left-side {
    margin-top: 40px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-list, .right-list {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
}

.right-list {
    margin-left: 20px;
}

.list-item {
    color: var(--text-color);
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
}

.about-text, .language-text, .others-text {
    width: 550px;
    letter-spacing: 2px;
    word-spacing: 6px;
    color: var(--text-color);
    font-family: 'Raleway';
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    line-height: 30px;
    margin-top: 0px;
}



.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   
}

.git {
    margin-right: 0px;
}

.middle-right-side, .lower-right-side, .bottom-right-side {
    margin-top: 40px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.others-heading, .language-heading, .references-heading {
    color: var(--text-color);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.7;
    font-size: 24px;
}


.divider {
    margin-top: 80px;
    margin-right: 40px;
    width: 1px;
    height: 190vh;
    background-color: var(--text-color);
}

.div-2 {
    width: 30vw;
    height: 1px;
    background-color: var(--text-color);
    margin-top: 0px;
    margin-bottom: 30px;

}

@media  (max-width: 1460px) {
    .main-container {
        flex-direction: column;
        position: relative;
        height: auto;
    }
    .left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .div, .div-4 {
        width: 400px;
    }

    .div-2 {
        width: 400px;
    }

    

    .div-3 {
        width: 400px;
        height: 1px;
        background-color: var(--text-color);
        margin-bottom: 25px;
        margin-top: 30px;
     
    }

    .divider {
        visibility: hidden;
    }

    .right-side {
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;  
    }

    .top-left-side {
        margin-bottom: 0px;
    }

    .lower-left-side {
             margin-bottom: 0px;
    }

    .middle-right-side {
        margin-top: 0px;
       
    }

    .divider {
        height: 0.1px;
    }
    
}



@media (max-width: 709px) {

    .top-left-side {
        margin-top: 10px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }

    .phone, .house, .letter {
        font-size: 20px;
    }

    .git, .linked {
        font-size: 35px;
    }


    .git {
        margin-right: 40px;
    }

   

    .phone-number, .address, .email {
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
   
  
    .economy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 24px;
    }

    .webbdev, .economy {
        font-size: 20px;
    }

    .handels {
        font-weight: 400;
        font-size: 18px;
    }


    .phone-number {
        margin-top: 40px;
    }

    .linked {
        margin-left: 5px;
    }

    .git {
        margin-left: 0px;
    }

    .icon-area {
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .div {
        margin-left: 0px;
        width: 62vw;
    }

    .middle-left-side {
        width: 95%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .edu-text {
        width: 95%;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: 13px;
        line-height: 28px;
        text-align: center
    }

     .economy-text {
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: 13px;
        line-height: 28px;
        text-align: center;
    }

    .economy-text-2 {
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: 13px;
        line-height: 28px;
        margin-top: 0px;
        text-align: center;
        }

    .div-2 {
            width: 62vw;
            margin-bottom: 40px;
            margin-left: 0px;
        }

    .lower-left-side {
            width: 95%;
            padding-left: 0px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }

        .right-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

    .about-text {
        text-align: center;
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 1px;
        word-spacing: 2px;
        }
    
    .div-3  {
            width: 62vw;
            margin-top: 0px;
            margin-bottom: 40px;
            margin-left: 0px;
            align-self: center;
        }

    .middle-right-side {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
     
        
    }

    .job-text {
        text-align: center;
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 1px;
        word-spacing: 2px;
        width: 95%;
        margin-left: 0px;

    }

    .div-4 {
        width: 62vw;
        margin-left: 0px;
    }

   .language-text {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 1px;
    word-spacing: 2px;  
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   }

   .lower-right-side {
    margin-top: 40px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

    .others-text {
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .bottom-right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        padding-left: 0px;
    }

    .others-text {
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .about-text {
        width: 95%;
    }

    
}




